<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.quedadas634165" version="1.0.9.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>QueDaDas</name>
  <description>
        Aplicación para realizar todo tipo de quedadas deportivas
    </description>
  <author email="programacion@magentadesigncorporation.com" href="http://www.magentadesigncorporation.com">
      Magenta Design Co. I+D
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>