<ion-view title="Deportes">
  
  <ion-content class="has-header">
    <form ng-submit="addFriend(qdd)">
      <ion-list>
        <ion-item>
          <div class="item item-avatar">
            <img ng-src="{{friend.picture}}"> 
            <h2>{{friend.name}}</h2>
          </div>
        </ion-item>
      </ion-list>
      <div class="list box">
        <button class="button button-block button-assertive" type="submit">
          Añadir Selección
        </button>
        
      </div>
    </form>
  </ion-content>
</ion-view>